
@{
    ViewBag.Title = "BadRequest";
}
    <div class="container text-center">
        <h2>Bad Request</h2>
        <p>
            Oops something went wrong..please try again.
        </p>
    </div>


